# Maven
target/

# Package Files
*.jar

# Log file
log/
*.log

# Compiled class file
*.class

# IntelliJ
.idea/
*.iml
*.iws

# Visual Studio
.vs/

# Ignore compiled lisp
*.FASL
*.fasl

# Ignore emacs backups
*~
\#*\#
.\#*